<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gra online Gwiezdny Kupiec">
    <link rel="stylesheet" type="text/css" href="static/css/description.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	
    <title> Gwiezdny Kupiec </title>
</head>

<body>

<video playsinline autoplay muted loop poster="static/content/bg_image.jpg" id="bgvideo">
    <source src="static/content/bg_video.mp4" type="video/mp4">
</video>

<section>
	<span id="ramka">
		<div id="history"> 
			<h1 id="h1"> Witaj w Nowej Galaktyce! </h1>
			<p> Jest rok 2058, od czasów kolonializacji Marsa minęło 15 lat (deadline z 2023 miał mały poślizg). Życie na Ziemi jest już passe, demode i fois gras, po kryzysie ekonomiczno-gospodarczym ludzie mają dość jedzenia kiełków lucerny z kaszą jaglaną i nierafinowanym olejem kokosowym. </p>
			<p> Rozwija się międzygalaktyczny handel, posiadanie własnego statku daje +20 do respektu i jest jedyną szansą na podwyższenie standardów życia.</p>
			<p> Wziąłeś statek na krechę od Chudego Stefana, który nie lubi dłużników. </p>
			<p> Twoim zadaniem jest jak najszybciej spłacić statek - masz na to 20 rund. W przeciwnym razie dosięgnie Cię chudy palec Chudego Stefana i... nie chcesz wiedzieć, co może się stać.</p>
	
			<img src="static/content/stefan.png" style="width: 30%; float: left; padding: 20px; padding-bottom: 0;">
			<p id="stefan"> To jest Stefan, <br> chciał się przywitać...</p>
		</div>

 	<a href="stage2.html"><input type="button" class="button" value="AHOJ, PRZYGODO!"/></a>

	</span>
 

</section>


<div id="stopka">
<footer>
  <p> Copywrights by <a target="blank" href="https://github.com/sermarcel"> Marcin Brz </a> </p>
</footer>
</div>


</body>


</html>