<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gra online Gwiezdny Kupiec">
    <link rel="stylesheet" type="text/css" href="/static/css/hall_of_fame.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/loadgame.js"></script>

	
    <title> Gwiezdny Kupiec </title>
</head>

<body>

<video playsinline autoplay muted loop poster="static/content/bg_image.jpg" id="bgvideo">
    <source src="static/content/bg_video.mp4" type="video/mp4">
</video>

<section>
	<span id="ramka">
		<div id="history"> 
        
<table class="table">
			<h1 id="h1"> Wczytaj grę </h1>
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Nazwa gracza</th>
      <th>Pieniądze gracza</th>
      <th>Statek kosmiczny</th>
      <th>Data stworzenia gracza</th>
      
    </tr>
  </thead>
  <tbody id='loader'>
    <tr>
            {%for p in last_5_players %}
      
      <th scope="row"></th>
     
                <td>{{ p.nick}}</td>
                <td>{{ p.money }}</td>
                <td> {{p.ship}}</td>
                <td>{{p.creation_date}}</td>
    </tr>
    </tr>
            {% endfor %}
  </tbody>
</table>

		</div>

   <div class="options" >
        <a href=#><input type="button" class="button" id="load" value="WCZYTAJ GRĘ"/></a><br>
        <a href=/start><input type="button" class="button" value="POWRÓT"/></a><br>

  
	 </div>

	</span>
 

</section>


<div id="stopka">
<footer>
  <p> Copywrights by <a target="blank" href="https://github.com/sermarcel"> Marcin Brz </a> </p>
</footer>
</div>


</body>


</html>