<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gra online Gwiezdny Kupiec">
    <link rel="stylesheet" type="text/css" href="static/css/main_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script src="static/js/main.js" type="text/javascript"></script>
	
    <title> Gwiezdny Kupiec </title>
</head>

<body>

<video playsinline autoplay muted loop poster="content/bg_image.jpg" id="bgvideo">
    <source src="static/content/bg_video.mp4" type="video/mp4">
</video>

<section id="ramka">
	<div> 
		<img src="static/content/logo.png">
	</div>
	
  <span>
    <a href="#"><input type="button" id="start" value="START"/></a>
    <div class="options" >
        <a href="stage1.html"><input type="button" class="button" value="NOWA GRA"/></a><br>
        <a href="#"><input type="button" class="button" value="WCZYTAJ GRĘ"/></a><br>
        <a href="#"><input type="button" class="button" value="NAJLEPSZE WYNIKI"/></a>
  
	 </div>
  </span>
</section>


<div id="stopka">
<footer>
  <p> Copywrights by <a target="blank" href="https://github.com/sermarcel"> Marcin Brz </a> </p>
  <p> Logo made with <a target="blank" href="http://logomakr.com" title="Logo Maker">Logo Maker</a></p>
</footer>
</div>


</body>


</html>