<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gra online Gwiezdny Kupiec">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
     <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/stage3.js"></script>
	<title> Gwiezdny Kupiec - wybierz statek</title>
</head>

<body>
<form id='nick' action="" method="POST" >
                    {% csrf_token %}<p>Twoja kasa</p>
                    <div  >{{ player_money }} </div>
                    <p> Player:</p>
                    <input  value='{{ actual_player}}' >
                     
                    {% for p in products_onboard %}
                    <div id="">{{ p.product}}</div>
                    <input class='prod' name="{{p.product}}" type="number" value='{{ p.quantity}}'>
                    
                    {% endfor %}
                    <div  options='disable'>
                    
                    <input type="submit" class="button" value="DALEJ">
            </form>
     



    <span style="text-align: center; width: 100%">
      <div><p>Ceny produktów na planecie</p>
        {%for p in product_prices%}
                    <input   value='{{ p.product}}'>

                    <input   value='{{ p.actual_price}}'>
            
                    {% endfor %}

      </div>
    </span>
 


</body>


</html>
