html, body { margin: 0; padding: 0; }
html { height: 100%; }

body {
  cursor: url(content/spaceship.png), auto;
  position: relative;
  min-height: 100%;
}


#bgvideo {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(content/bg_image.jpg) no-repeat;
    background-size: cover; 
}


#ramka {
	width: 900px;
	height: 550px;
	border-style: hidden;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.1);
	text-align: left;
	margin: -250px 0 0 -450px;
  left: 50%;
 	top: 50%;
  position: absolute;
}


p {
	color: white;
	font-size: 35px;
	padding-top: 20px;
  padding-left: 30px;
	font-family: 'VT323', monospace;
}

.statek {
	display: inline-block;
	float: left;
	width: 350px;
  height: 200px;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 120px;
}



.opis {
  display: none;
  width: 350px;
  height: 200px;
  padding: 10px;
  padding-left: 30px;
  font-size: 18px;
  color: white;
  font-family: 'VT323', monospace;
  background-color: #09092a;
}


.nazwa {
  font-size: 24px;
  color: orange;
  font-family: 'VT323', monospace;
}

.koszt {
  color: lime;
  font-size: 20px;
}


.button {
  background-color: white; 
  color: black;
  border: none;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 100%;
  margin-top: 0;
  cursor: url(content/spaceship.png), auto;
}

.button:hover {
	background-color: #404040;
	color: white;
	cursor: url(content/spaceship.png), auto;
}

#stopka {
	color: white;
	margin-left: auto;
	padding: 10px;
	font-size: 10px;
  	position: absolute;
  	bottom: 0;
}

#nick {
  display: none;  
}

#baza {
  padding-top: 50px;
  padding-bottom: 325px;
  padding-left: 30px;
}

#cssShip {
  visibility: hidden
}



